*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(21, 21, 71);
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    padding: 30px 0;
}

.box{
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(57, 57, 71);
    padding: 20px 0;
    margin:10px;
}

img{
    width: 70%;
    height: 130px;
    margin: 10px 0;
}

p{
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 5px 0;
}

.logo{
    background-color: rgb(57, 57, 71);
}

.logo img{
    width: 50px;
    height: 50px;
    margin: 5px 15px;
}